---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="About William Yao"
	active="about"
	description="William is a New York-based filmmaker, a dancer and a creative technologist."
	><main
		class="container m-auto py-5 px-4 w-[1280px] max-w-[calc(100%-2rem)] text-white text-[20px] leading-[1.6] font-['futura-pt',sans-serif]"
	>
		<div
			class="flex flex-col items-center justify-start lg:items-start lg:flex-row gap-5 lg:gap-20 lg:mt-10"
		>
			<!-- Left Div (image) -->
			<div class="w-[400px]">
				<img
					src="/about/william.webp"
					alt="William"
					width="314"
					height="392"
					class="lg:ml-auto mx-auto lg:mx-0 mt-1"
				/>
			</div>
			<!-- Right Div (Text content) -->
			<div class="font-light w-full text-[20px] leading-[29px]">
				<p class="pt-0">
					William Yao is a <b>creative technologist</b> and award-winning
					<b>filmmaker</b> whose passion lies in using art and technology
					to foster <b>human connection</b>. With a dual degree in
					Film & Media and Computer Science from <b
						>Johns Hopkins University</b
					>, his work bridges the worlds of immersive storytelling and
					cutting-edge innovation.
				</p>
				<br />
				<p>
					His notable projects include the Off-Broadway immersive show
					Daydreamers, which TIMEOUT described as a "living film," and
					Gratitude gARden, an AR-based experience that was a finalist
					at Cannes XR 2020 for its innovative use of technology to
					bring people together during isolation. In 2024, William
					served as the <b
						>Creative Producer for Grimes' headline performance at
						Coachella</b
					>, transforming futuristic visions into interactive live
					experiences.
				</p>
				<br />
				<p>
					As a multidisciplinary creator, William's short films and
					performances explore themes of <b
						>Creative Producer for Grimes' headline performance at
						Coachella</b
					>, blending elements of dance, cinematography, design, and
					technology. His work seeks to push beyond the boundaries of
					traditional storytelling, using technology as a medium to
					connect us not only with one another but also with the world
					around us.
				</p>
				<br />
				<p class="text-sm italic">
					“he’s a little dramatic sometimes” - William’s Mother
				</p>

				<br />
				<p>Contact</p>
				<a
					href="mailto:hello@thewilliamyao.com"
					class="hover:text-blue-300 transition-colors duration-150"
					>hello@thewilliamyao.com</a
				>
			</div>
		</div>
	</main>
</Layout>
