---
import Layout from "../layouts/Layout.astro";
import InfiniteScroll from "../components/InfiniteScroll.astro";
import VideoPreview from "../components/VideoPreview.astro";
---

<Layout
	title="GRIMES COACHELLA 2024 (Multimedia Live Show)"
	active="projects"
	background="#000"
>
	<main
		class=`container bg-black m-auto 
		pt-20 pb-10 px-4 overflow-x-hidden
		w-[1425px] max-w-[calc(100%-2rem)] text-white text-[20px] md:text-[27px] leading-[37px]`
	>
		<!-- Inspiration -->
		<InfiniteScroll
			text="00://THE INSPIRATION"
			duration="25s"
			className="fadeIn"
		/>

		<div
			class="mt-14 flex flex-col xl:flex-row justify-center xl:justify-between items-center xl:items-start gap-8"
		>
			<!-- text on the left -->
			<div class="w-full sm:w-[70%] xl:w-[45%] fadeIn">
				<p>
					In 2023, GRIMES debuts a clone of herself under the name
					GRIMES AI using state-of-the-art technologies which advanced
					the relationship between Artists, their work, and their
					fans.
				</p>
				<br />
				<p>
					These advancements ranged from an internal collaborative
					chatbot of GRIMES (V1), a voice cloning tool used by
					hundred-of-thousands of fans to create their own music as
					GRIMES AI, a fun and interactive social-media sci-fi GRIMES
					AI on Twitter, and more.
				</p>
				<br />
				<p>
					We want to combines peak human potential with peak AI
					technologies rather than allowing technology to replace
					humans. Pushing forward HOMOTECHNO with intelligent design,
					reprogramming the human computer.
				</p>
			</div>
			<div class="w-[692px] max-w-full">
				<img
					src="/grimes/Coachella+Pill.webp"
					alt="Coachella Pill"
					width="692"
					class="max-w-full"
				/>
			</div>
		</div>

		<div
			class="w-full mt-40 flex flex-col justify-center items-center gap-10"
		>
			<!-- 01 concept -->
			<InfiniteScroll
				text="01://THE CONCEPT"
				duration="25s"
				className="fadeIn"
			/>

			<p
				class="text-center xl:text-left italic text mt-5 w-full xl:w-[35%] fadeIn"
			>
				GRIMES IS IN THE MACHINE. and GRIMES IS THE MACHINE.
			</p>
			<div
				class="relative w-full h-fit min-h-[1410px] xl:mt-10 flex flex-col justify-center items-center gap-10"
			>
				<img
					src="/grimes/thumbnail.webp"
					alt="thumbnail"
					width="798"
					class="static xl:absolute top-0 left-[2%] max-w-full"
				/>
				<p
					class="static xl:absolute w-full sm:w-[60%] xl:w-[37%] left-[640px] top-[40px] fadeIn"
				>
					We want to offer a once in a lifetime experience for
					COACHELLA to cement the bridge between humans and machines,
					leading us into a bold new future for HOMOTECHNO. The core
					concepts are THE MACHINES, THE MONOLITH, and THE AI CINEMA
				</p>
				<p
					class="static xl:absolute w-full sm:w-[60%] xl:w-[50%] left-[120px] top-[480px] fadeIn"
				>
					EXOSAPIEN created the SPIDER MACHINE that GRIMES entered the
					stage on.
				</p>
				<video
					src="/grimes/Grimes_Monolith_Video.webm"
					width="200"
					class="z-10 static xl:absolute top-[600px] left-[200px]"
					loop
					muted
					autoplay></video>
				<video
					src="/grimes/monolith_test_person.webm"
					width="200"
					class="z-10 static xl:absolute top-[800px] left-[280px]"
					loop
					muted
					autoplay></video>
				<img
					src="/grimes/modi-01.webp"
					alt="monolith"
					width="400"
					class="static xl:absolute right-[110px] top-[370px] fadeIn"
				/>
				<p
					class="static xl:absolute w-full sm:w-[60%] xl:w-[50%] left-[530px] top-[810px] fadeIn"
				>
					xiteLabs built the MONOLITH for the stage, produced the AI
					CINEMA that Daito Manabe & Rhizomatiks created the motion
					capture for
				</p>
				<video
					src="/grimes/ai_cine.webm"
					width="450"
					class="z-10 static xl:absolute top-[1000px] right-[100px]"
					loop
					muted
					autoplay></video>
			</div>
			<div class="w-full flex flex-col justify-center items-center">
				<InfiniteScroll
					text="02://THE CONCEPT"
					duration="25s"
					className="fadeIn mt-10"
				/>
				<div
					class="relative w-full h-fit min-h-[900px] mt-10 flex flex-col justify-center items-center gap-10"
				>
					<img
						src="/grimes/illustration.webp"
						alt="illustration"
						width="400"
						class="static xl:absolute left-0 top-[180px] fadeIn"
					/>
					<img
						src="/grimes/image-2.webp"
						alt="illustration"
						width="634"
						class="static xl:absolute right-0 top-[0px] fadeIn"
					/>
					<p
						class="static xl:absolute w-full sm:w-[60%] xl:w-[33%] left-[470px] top-[200px] fadeIn"
					>
						We imagined a large cyber-capsule that “crash landed”,
						serving as a custom built DJ Booth for Grimes. Cradled
						ontop of a well-formed crater support system, this is no
						ordinary DJ Booth, this is a highly-advanced machine
						that has found its way into the oasis of COACHELLA
					</p>
					<img
						src="/grimes/illustration-2.webp"
						alt="illustration"
						width="460"
						class="static xl:absolute right-0 top-[475px] fadeIn"
					/>
				</div>
			</div>
			<div class="w-full flex flex-col justify-center items-center">
				<InfiniteScroll
					text="03://THE RESULT"
					duration="25s"
					className="fadeIn mt-20"
				/>
				<div
					class="relative w-full h-fit min-h-[1210px] mt-20 flex xl:block justify-center items-center flex-col gap-10"
				>
					<video
						src="/grimes/result1.webm"
						width="260"
						class="z-10 static xl:absolute top-[750px] left-[80px] fadeIn"
						loop
						muted
						autoplay></video>

					<img
						src="/grimes/result2.webp"
						alt=""
						width="223"
						class="z-20 static xl:absolute top-[500px] left-[350px] fadeIn"
					/>

					<div
						class="w-[692px] h-[391px] mx-auto max-w-full aspect-video"
					>
						<VideoPreview
							src="grimes.webp"
							url="https://www.youtube.com/embed/nP1-9fcQxHw"
							width="692px"
							height="391px"
						/>
					</div>

					<img
						src="/grimes/result3.webp"
						alt="result"
						width="223"
						class="static xl:absolute top-[700px] right-[125px] fadeIn"
					/>

					<video
						src="/grimes/result4.webm"
						width="260"
						class="z-10 static xl:absolute top-[500px] left-[780px] fadeIn"
						loop
						muted
						autoplay></video>
					<video
						src="/grimes/result5.webm"
						width="200"
						class="z-10 static xl:absolute top-[680px] left-[610px] fadeIn"
						loop
						muted
						autoplay></video>
				</div>
			</div>
			<div class="w-full flex flex-col justify-center items-center">
				<!-- gallery -->
				<div class="columns-2 lg:columns-3 xl:columns-4" id="gallery-3">
					<img
						src="/grimes/gallery-1.webp"
						alt="illustration"
						width="323"
						class="scaleIn fadeIn"
					/>
					<img
						src="/grimes/gallery-2.webp"
						alt="sketch"
						width="323"
						class="scaleIn fadeIn"
					/>
					<img
						src="/grimes/gallery-sketch.webp"
						alt="illustration"
						width="323"
						class="scaleIn fadeIn"
					/>

					<img
						src="/grimes/modi-02.webp"
						alt="sketch"
						width="323"
						class="scaleIn fadeIn"
					/>

					<img
						src="/grimes/0A85DCFB-1902-438D-B6F7-A725EE26E6FEcachedImage.webp"
						alt="sketch"
						width="323"
						class="scaleIn fadeIn"
					/>

					<img
						src="/grimes/modi-03.webp"
						alt="modi"
						width="323"
						class="scaleIn fadeIn"
					/>
					<img
						src="/grimes/53BFA0F6-84C5-4009-8EF7-F89E70DAFFC5Pill__Wings_Concept.webp"
						alt="sketch"
						width="323"
						class="scaleIn fadeIn"
					/>
					<img
						src="/grimes/illustration-2.webp"
						alt="modi"
						width="323"
						class="scaleIn fadeIn"
					/>
				</div>
			</div>
		</div>
	</main>
</Layout>

<style>
	p {
		font-family: "futura-pt", sans-serif;
		font-weight: 500;
		z-index: 40;
	}

	#gallery-3 img {
		margin-bottom: 1.3rem;
	}
</style>
