---
import Layout from "../layouts/Layout.astro";
---

<Layout title="HEAVENMADE" active="projects">
	<main
		class="container font-['futura-pt',sans-serif] m-auto pt-5 pb-10 px-4 w-[1440px] max-w-[calc(100%-2rem)] text-white text-[20px] leading-[1.6]"
	>
		<div class="flex justify-center items-center">
			<iframe
				width="1047"
				class="aspect-video"
				src="https://www.youtube.com/embed/8UgjNbjJrjY"
				title="JHIN - Heavenmade (Official Music Video)"
				frameborder="0"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
				referrerpolicy="strict-origin-when-cross-origin"
				allowfullscreen></iframe>
		</div>
		<div
			class="py-10 text-center flex justify-center items-center flex-col"
		>
			<h1 class="font-medium text-5xl text-center fadeIn">
				Heavenmade (2024)
			</h1>
			<ul id="credits" class="py-10">
				<li class="fadeIn">directed by JOHN LEE</li>
				<li class="fadeIn">choreography by WILLIAM YAO</li>
				<li class="fadeIn">cinematography by WONSEOK KIM & JOHN LEE</li>
				<li class="fadeIn">visual direction by RACHEL CHANG</li>
				<li class="fadeIn">actors DANEE KIM & JHIN</li>
				<li class="fadeIn">art direction by JUYEON LEE</li>
				<li class="fadeIn">
					hair and makeup by EUNMI PARK & SUNGMI KIM & SUJEONG LEE
				</li>
				<li class="fadeIn">
					assistant camera DOWON LEE & SEUNGHYUN JANG & JUNBEOM PARK
				</li>
			</ul>
		</div>
	</main>
</Layout>

<style>
	ul#credits li {
		margin-bottom: 1rem;
		font-weight: 300;
		font-size: 16px;
		line-height: 29px;
	}
</style>
