---
import Layout from "../layouts/Layout.astro";
import HomeCards from "../components/HomeCards.astro";
import MobileViewCards from "../components/MobileViewCards.astro";
import { Image } from "astro:assets";
import WilliamYao from "./_images/williamyao copy.webp";
---

<Layout
	title=`WILLIAM "ZY" YAO`
	showLogo={false}
	description="William is a New York-based filmmaker, a dancer and a creative technologist."
>
	<main
		id="homepage"
		class="container m-auto py-20 px-4 w-[1200px] max-w-[calc(100%-2rem)] text-white text-[20px] leading-[1.6]"
	>
		<a
			transition:name="header-logo"
			href="/"
			class="font-bold text-xl lg:text-[3rem] tracking-normal font-['futura-pt',serif] top-4 sm:top-8 lg:top-3 sticky z-40"
		>
			WILLIAM <br class="sm:hidden" /> "ZY" YAO
		</a>
		<div
			class="flex flex-col lg:flex-row justify-center items-center lg:gap-5 mt-[3rem]"
		>
			<div class="md:w-[800px] mx-auto mt-10 max-w-full mb-10">
				<p>
					William is a multidisciplinary Director and Creative
					Technologist who seeks for stories rooted in honest
					conversation, evanescent moments of nature, and the search
					for joy and love. His work includes <a
						href="/give-me-love"
						class="underline underline-offset-2 relative z-10"
						>Films</a
					>, <a
						href="/daydreamers"
						class="underline underline-offset-2 relative z-10"
						>Off-Broadway</a
					>, and large scale <a
						href="/grimes"
						class="underline underline-offset-2 relative z-10"
						>Live Productions</a
					>. William loves Wong Kar Wai but secretly binges Taika
					Waititi when his colleagues aren’t around.
				</p>
				<br />
				<p>
					When he’s not crumpling up scripts or fighting AI overlords,
					William is a dancer and a musician, with credits including
					MARVEL, SAMSUNG, and CANNES FILM FESTIVAL XR.
				</p>
			</div>
			<div>
				<Image
					src={WilliamYao}
					alt="WilliamYao"
					width={300}
					class="mr-10"
				/>
			</div>
		</div>
		<MobileViewCards />
		<HomeCards />
	</main>
</Layout>

<style>
	main {
		text-align: center;
		position: relative;
	}

	h1 {
		font-size: 48px;
		font-weight: 400;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
