---
interface Props {
	src: any;
	alt: string;
	eager?: boolean | null;
	heading: string;
	subheading: string;
}

import { Image } from "astro:assets";

const { src, alt, eager, heading, subheading } = Astro.props;
---

<div class="project flex justify-center items-center">
	<div class="project-detail project-img left">
		<Image
			src={src}
			alt={alt}
			width="500"
			class="rounded-lg"
			loading={eager ? "eager" : "lazy"}
		/>
	</div>
	<div class="project-detail text-box w-1/2">
		{heading}
		<br /><br />
		{subheading}
	</div>
</div>
