<div id="gallery-2" class="w-full columns-2 md:columns-3 lg:columns-4 gap-5">
	<img
		src="/daydreamer/daydreamer-press-4.webp"
		alt="daydreamer press"
		width="324"
		class="fadeIn scaleIn"
	/>
	<img
		src="/daydreamer/crowd.webp"
		alt="daydreamer"
		width="324"
		class="fadeIn scaleIn"
	/>
	<img
		src="/daydreamer/blue.webp"
		alt="daydreamer blue show"
		width="324"
		class="fadeIn scaleIn"
	/>
	<img
		src="/daydreamer/daydreamer5.webp"
		alt="daydreamer preview"
		width="324"
		class="fadeIn scaleIn"
	/>
	<img
		src="/daydreamer/daydreamer-red.webp"
		alt="daydreamer"
		width="324"
		class="fadeIn scaleIn"
	/>
	<img
		src="/daydreamer/dark.webp"
		alt="daydreamer dark preview"
		width="324"
		class="fadeIn scaleIn"
	/>
	<img
		src="/daydreamer/quote.webp"
		alt="daydreamer quote"
		width="324"
		class="fadeIn scaleIn"
	/>
	<img
		src="/daydreamer/sold-out.webp"
		alt="daydreamer preview"
		width="324"
		class="fadeIn scaleIn"
	/>
	<img
		src="/daydreamer/crowd-2.webp"
		alt="daydreamer dark preview"
		width="324"
		class="fadeIn scaleIn"
	/>

	<img
		src="/daydreamer/sold-out-revived.webp"
		alt="daydreamer"
		width="324"
		class="fadeIn scaleIn"
	/>
</div>

<style>
	#gallery-2 img {
		margin-bottom: 2rem;
	}
</style>
