<div
	id="gallery-1"
	class="w-full columns-2 md:columns-3 lg:columns-4 gap-5 min-h-[600px] h-fit"
>
	<img
		src="/daydreamer/daydreamer-poster.jpeg"
		alt="daydreamer poster"
		width="324"
		class="fadeIn scaleIn"
	/>
	<img
		src="/daydreamer/daydreamer-projector.jpeg"
		alt="daydreamer projector"
		width="324"
		class="fadeIn scaleIn"
	/>
	<img
		src="/daydreamer/daydreamer-stage.png"
		alt="daydreamer stage"
		width="324"
		class="fadeIn scaleIn"
	/>
	<img
		src="/daydreamer/daydreamer-press-2.jpg"
		alt="daydreamer press"
		width="324"
		class="fadeIn scaleIn"
	/>

	<img
		src="/daydreamer/daydreamer-press1.jpg"
		alt="daydreamer press"
		width="324"
		class="fadeIn scaleIn"
	/>

	<img
		src="/daydreamer/daydreamer-nick.jpeg"
		alt="daydreamer nick"
		width="324"
		class="fadeIn scaleIn"
	/>
	<img
		src="/daydreamer/daydreamer-sheets.jpeg"
		alt="daydreamer sheets"
		width="324"
		class="fadeIn scaleIn"
	/>
	<img
		src="/daydreamer/daydreamer-press-3.jpg"
		alt="daydreamer press"
		width="324"
		class="fadeIn scaleIn"
	/>
</div>

<style>
	#gallery-1 img {
		margin-bottom: 2rem;
	}
</style>
