---
interface Props {
	src: string;
	url: string;
	width: string;
}

let { src, url, width } = Astro.props;

src = `url("/thumbnails/${src}")`;
---

<div class="video-container mx-auto aspect-video max-w-full" tabindex="0">
	<!-- Preview image -->
	<!-- Play Button -->
	<div class="play-button z-10">
		<svg
			width="100px"
			height="100px"
			viewBox="0 0 72 72"
			id="emoji"
			xmlns="http://www.w3.org/2000/svg"
		>
			<g id="color"></g>
			<g id="hair"></g>
			<g id="skin"></g>
			<g id="skin-shadow"></g>
			<g id="line">
				<path
					fill="#FFFFFF"
					stroke="#FFFFFF"
					stroke-linejoin="round"
					stroke-miterlimit="10"
					stroke-width="2"
					d="M19.5816,55.6062 c0.4848,0.1782,1.0303,0.297,1.5758,0.297c0.8485,0,1.697-0.297,2.4242-0.7722l30-15.9793l0.303-0.297 c0.7879-0.7722,1.2121-1.7227,1.2121-2.7919c0-1.0692-0.4242-2.0791-1.2121-2.7919l-0.303-0.297l-30-16.0981 c-1.0909-0.8316-2.6667-1.0098-4-0.4752c-1.5152,0.594-2.4848,2.0791-2.4848,3.683v31.8397 C17.0967,53.5272,18.0664,55.0122,19.5816,55.6062z"
				></path>
			</g>
		</svg>
	</div>

	<!-- YouTube Video Embed (initially hidden) -->
	<iframe
		class="video-embed aspect-video"
		id="video"
		width={width}
		src={url}
		title="Give Me Love (2024)"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		referrerpolicy="strict-origin-when-cross-origin"
		allowfullscreen></iframe>
</div>

<script is:inline define:vars={{ url }}>
	const videoContainer = document.querySelector(".video-container");
	videoContainer.addEventListener("click", playVideo);

	function playVideo() {
		// Hide overlay content
		document.querySelector(".play-button").style.display = "none";

		let videoEmbed = document.querySelector(".video-embed");
		videoEmbed.src = `${url}?autoplay=1`;

		setTimeout(() => {
			videoEmbed.style.display = "block";
		}, 1000);
	}
</script>

<style define:vars={{ src, width }}>
	.video-container {
		position: relative;
		width: var(--width);
		background-image: var(--src);
		background-size: cover;
		background-position: center;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		aspect-ratio: 16 / 9;
	}

	/* Red overlay text */

	/* Play button */
	.play-button {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 2.5rem;
		color: white;
		background-color: rgba(0, 0, 0, 0);
		border-radius: 50%;
		padding: 10px;
		text-align: center;
		cursor: pointer;
		user-select: none;
	}

	/* Hide YouTube iframe initially */
	.video-embed {
		display: none;
	}
</style>
