---
import Layout from "../../layouts/Layout.astro";
import HomeCards from "../../components/HomeCards.astro";
import MobileViewCards from "../../components/MobileViewCards.astro";
import VideoPreview from "../../components/SubComponents/VideoPreview.astro";
import givemelove from "./images/give-me-love.webp";
---

<Layout title="Daydreamers">
	<main
		class="container m-auto pt-5 pb-10 px-4 w-[1440px] max-w-[calc(100%-2rem)] text-white text-[20px] leading-[1.6]"
	>
		<div
			class="flex flex-wrap justify-center md:grid md:grid-cols-3 lg:grid-cols-4 gap-1 md:gap-5"
		>
			<div
				class="flex flex-col justify-between items-center gap-1 md:gap-5"
			>
				<div>
					<img
						src="/daydreamer/daydreamer-poster.jpeg"
						alt="daydreamer poster"
						width="324"
						class="md:max-w-full"
					/>
				</div>
				<div class="block lg:hidden">
					<img
						src="/daydreamer/daydreamer-nick.jpeg"
						alt="daydreamer nick"
						width="324"
						class="max-w-full"
					/>
				</div>
				<div>
					<img
						src="/daydreamer/daydreamer-projector.jpeg"
						alt="daydreamer projector"
						width="324"
						class="max-w-full"
					/>
				</div>
			</div>
			<div class="flex flex-col justify-between items-center">
				<div>
					<img
						src="/daydreamer/daydreamer-stage.png"
						alt="daydreamer stage"
						width="324"
						class="max-w-full"
					/>
				</div>
				<div class="block lg:hidden">
					<img
						src="/daydreamer/daydreamer-sheets.jpeg"
						alt="blanket"
						width="324"
						class="max-w-full"
					/>
				</div>
				<div>
					<img
						src="/daydreamer/daydreamer-press-2.jpg"
						alt="daydreamer press"
						width="324"
						class="max-w-full"
					/>
				</div>
			</div>
			<div
				class="flex md:flex-col gap-1 md:gap-0 justify-between items-center"
			>
				<div>
					<img
						src="/daydreamer/daydreamer-press1.jpg"
						alt="daydreamer press"
						width="324"
						class="max-w-full"
					/>
				</div>
				<div class="hidden lg:block">
					<img
						src="/daydreamer/daydreamer-nick.jpeg"
						alt="daydreamer nick"
						width="324"
						class="max-w-full"
					/>
				</div>
				<div class="block lg:hidden">
					<img
						src="/daydreamer/daydreamer-press-3.jpg"
						alt="daydreamer press"
						width="324"
						class="max-w-full"
					/>
				</div>
			</div>
			<div class="hidden flex-col justify-between items-center lg:flex">
				<div>
					<img
						src="/daydreamer/daydreamer-sheets.jpeg"
						alt="sheets"
						width="324"
						class="max-w-full"
					/>
				</div>
				<div>
					<img
						src="/daydreamer/daydreamer-press-3.jpg"
						alt="daydreamer press"
						width="324"
						class="max-w-full"
					/>
				</div>
			</div>
		</div>
	</main>
</Layout>
