---
import Layout from "../../layouts/Layout.astro";
import HomeCards from "../../components/HomeCards.astro";
import MobileViewCards from "../../components/MobileViewCards.astro";
---

<Layout title="William Yao's Projects">
	<main
		class="container m-auto py-20 px-4 w-[1000px] max-w-[calc(100%-2rem)] text-white text-[20px] leading-[1.6]"
	>
		<div class="md:w-[800px] mx-auto">
			<h1 class="uppercase">WILLIAM "ZY" YAO</h1>
		</div>
		<MobileViewCards />
		<HomeCards />
	</main>
</Layout>

<style>
	main {
		text-align: center;
		position: relative;
	}

	h1 {
		font-size: 48px;
		font-weight: 400;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
